<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>LIST PRODUCTS</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Employee Id</th>
            <th>Employee Image</th>
            <th>Employee Name</th>
            <th>Department </th>
            <th>Position</th>
            <th>Salary</th>
            <th>BirthDay</th>
            <th>Gender</th>
            <th colspan="2">Active</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p:${list}">
            <td th:text="${p.id}"></td>
            <td><img th:src="${p.img}" width="100px" height="100px"></td>
            <td th:text="${p.employeeName}"></td>
            <td th:text="${p.department.departName}"></td>
            <td th:text="${p.position}"></td>
            <td th:text="${p.salary}"></td>
            <td th:text="${p.birthDay}"></td>
            <td th:text="${p.gender?'nam':'nu'}"></td>
            <td><a th:href="@{'employee/editinit/' + ${p.id}}">Edit</a></td>
            <td><a th:href="@{'employee/delete/' + ${p.id}}">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/employee/addinit}">Add new product</a>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>